.board-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  background: linear-gradient(90deg, #171729, #0d2141, #072b6e); 
  min-height: 100vh;
  gap: 20px;
  border-radius: 20px; 
  overflow: hidden; 
}

.columns-container {
  display: flex;
  justify-content: space-between; 
  gap: 15px; 
}

.column-container {
  background-color: transparent;
  border-radius: 12px; 
  padding: 10px;
  width: 300px;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  color: #fff; 
  display: flex;
  flex-direction: column;
  position: relative;
}

.column-container h2 {
  color: #fff; 
  margin-bottom: 10px;
}

.column-container .tasks-container {
  background: rgba(255, 255, 255, 0.1); 
  border-radius: 8px; 
  padding: 20px;
  margin-top: 10px;
  flex-grow: 1; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  backdrop-filter: blur(10px); 
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column-container .task {
  background-color: #444444; 
  border-radius: 8px; 
  padding: 10px;
  color: #ddd;
}

.column-container .task .task-title {
  color: #fff; 
}

.column-container .task .task-description {
  color: #bbb; 
}
