.column {
  -ms-overflow-style: none;
  scrollbar-width: thin;    
  overflow-y: scroll;
  scroll-behavior: smooth;  
}

.column::-webkit-scrollbar {
  width: 8px; 
}

.column::-webkit-scrollbar-thumb {
  background: #1976d2; 
  border-radius: 10px; 
}

.column::-webkit-scrollbar-thumb:hover {
  background: #0d47a1; 
}

.column::-webkit-scrollbar-track {
  background: #e3f2fd; 
}
